.borderDiv {
  background-color: black;
  margin: 12px;
  width: 1000%px;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 40px;
  padding-top: 40px;
  text-align: center;
}
.numb {
  color: white;
  letter-spacing: 6rem;
  font-size: 100px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.clock {
  color: white;
  letter-spacing: 7rem;
  font-size: 100px;
}
